<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{- if .Site.Params.opengraph }}{{ template "_internal/opengraph.html" . }}{{- end }}
	{{- if .Site.Params.schema }}{{ template "_internal/schema.html" . }}{{- end }}

	<!-- Open Graph 和 Schema.org 数据 -->
	{{- if .Site.Params.opengraph }}{{ template "_internal/opengraph.html" . }}{{- end }}
	{{- if .Site.Params.schema }}{{ template "_internal/schema.html" . }}{{- end }}

	<!-- 提前加载关键资源 -->
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	
	<!-- 样式表加载 -->
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	{{- with .OutputFormats.Get "rss" }}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink }}" title="{{ $.Site.Title }}">
	{{- end }}

	<!-- 预取常用页面 -->
	<link rel="dns-prefetch" href="https://api.github.com">

</head>
<!-- <body class="body"> -->
<body class="{{ .Kind }}-page">
	<div class="mail">
	<div class="container container--outer">
		<div class="border">
		{{ block "topbar" . }}{{ partial "topbar.html" . }}{{ end }}
		<div class="wrapper flex">			
			<div class="primary">
			{{ block "main" . }}
			{{ with .Content }}
								<hr>
				<div class="content main__content clearfix">
					<!-- <div class="in-permalink"> -->
					{{ .Content }}
					</div>
					<hr>
				<!-- </div> -->
				{{ end }}
			{{ end }}
			</div>
			{{ block "sidebar" . }}{{ partial "sidebar.html" . }}{{ end }}
		</div>
		</div>
	</div>
</div>

	<script src="{{ "js/search.js" | relURL }}" defer></script>
	<script src="{{ "js/archives.js" | relURL }}" defer></script>
	<script src="{{ "js/lazyload.js" | relURL }}" defer></script>
	
	{{ range .Site.Params.customJS -}}
	<script src="{{ . | relURL }}" defer></script>
	{{- end }}
</body>
</html>